body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}
p {
    color: grey;
}
.orange-highlight {
    color: orange;
}
.half-width {
    width: 40%;
    float : left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-height{
    height: 30%;
    float: bottom;
    margin-left: 30%;
    margin-right: 30%;

    margin-bottom: 2%;

    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
}
.middle{
    margin-left: 30%;
}
.single-experience{
    
    box-shadow: 10px 10px 35px #FBECB2;
    border-radius: 10px;
    height: 38%;
    background-color: rgb(255, 255, 255)
}

.half-width img {
    width: 100%;
}

.top-banner{
    height: 500px;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dream-area{
    height: 550px;
    margin-top: 150px;
    padding-top: 15px;
}
.experience-area{
    height: 650px;
    margin-top: 30px;
    background-image: linear-gradient(90deg, #FEA571, #F7DE78);
}

.link-button { 
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(45deg, lightSalmon,orange);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.social-links{
    width: 8%;
    float : left;
    padding-left: 15%;
    margin-top: 5%;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.linear-exp-color    { 
    border-bottom: 7px solid;
    border-image: linear-gradient(90deg,yellow, orange);
    border-image-slice: 1;
}

